<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terraria Server Control</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Server List</a></li>
        </ul>
    </nav>

    <h1><%= server.name %></h1>
    <p>IP: <%= server.ip %></p>
    <form action="/server/<%= server.id %>/update-worlds-path" method="post">
        <div>
            <label for="worldsPath">Worlds Path</label>
            <input type="text" name="worldsPath" id="worldsPath" value="<%= server.worldsPath %>">
            <button type="submit">Update</button>
        </div>
    </form>
    <form action="/server/<%= server.id %>/update-characters-path" method="post">
        <div>
            <label for="charactersPath">Characters Path</label>
            <input type="text" name="charactersPath" id="charactersPath" value="<%= server.charactersPath %>">
            <button type="submit">Update</button>
        </div>
    </form>

    <div>
        <h3>World List</h3>
        <div>
            <form action="/server/<%= server.id %>/sync-worlds">
                <button type="submit">Sync</button>
            </form>
        </div>

        <table border="1">
            <thead>
                <th>World Name</th>
                <th>Port</th>
                <th>Status</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <% for (const world of worlds) { %>
                    <form action="/server/<%= server.id %>/world/<%= world.id %>/update" method="post">
                        <tr>
                            <td><input type="text" name="name" value="<%= world.name %>" readonly></td>
                            <td><input type="text" name="port" value="<%= world.port %>" readonly></td>
                            <td><input type="text" name="port" value="<%= world.status %>" readonly></td>
                            <td>
                                <button type="submit">Delete</button>
                            </td>
                        </tr>
                    </form>    
                <% } %>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Character List</h3>

        <table border="1">
            <thead>
                <th>Character Name</th>
                <th>Actions</th>
            </thead>
        </table>
    </div>
</body>
</html>